body {
  font-family: 'Yantramanav', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #edf2f2;
  color: #777;
}

nav {
  background-color: #edf2f2 !important;
  color: #000000 !important;
  padding-top: 36px;
  margin-bottom: 0px !important;
  font-size: 24px;
}

nav a {
  color: #000000;
}

.navbar-brand {
  font-size: 28px;
  font-family: 'Bad Script', cursive;
}

.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

hr {
  width: 200px;
  color: blue;
  z-index: 99;
}

/************** WELCOME **************/

#welcome {
  background-color: #edf2f2;
  width: 100%;
  height: 40%;
  padding: 90px 0;
} 

/************** PROJECTS **************/
#projects {
  background-color: #FFF;
  width: 100%;
  height: 60%;
  padding: 70px 0;
}

.projects-header {
  color: #777;
}

.projects-display {
  margin-bottom: 50px;
}

.project-details{
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: #777;
  padding: 10px;
}
.project-tech{
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: #777;
  padding: 10px;
  margin-bottom: 20px;
}

.fa-github {
  color: #777;
}

.glyphicon-menu-right::before {
  color: #777;
  margin-right: -40px;
}

.glyphicon-menu-left::before {
  color: #777;
  margin-left: -40px;
}

/*.carousel-control {
  background-image: none !important;
}*/

.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none;
  }
}

.carousel {
  position: relative;
}

.controllers {
  position: absolute;
  top: 180px;
}

.carousel-control.left, 
.carousel-control.right {
  background-image: none;
}

/*img {
  filter: gray;
  -webkit-filter: grayscale(1); 
  -webkit-transition: all .8s ease-in-out;  
}*/

/*img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}*/

/************** ABOUT **************/

#about {
  background-color: #EBECED; 
  width: 100%;
  height: 40%;
  padding: 90px 0;
}

.about-heading {
  display: block;
  text-align: left;
  padding: 10px;
}

.about-details {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  color: #777;
  padding: 10px;
}

#me {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

/************** CONTACT **************/
#contact {
  background-color: #edf2f2;
  /*background-color: #EBECED; */
  width: 100%;
  height: 50%;
  padding: 60px 0 60px 0;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-size: 20px;
}

#contact a {
  width: 159px;
}

.contact-heading {
  margin-bottom: 30px;
}

.contact-glyphs{
  margin-top: 30px;
  color: #777;
  margin: 0 10px;
  text-decoration: none;
}

#copyright {
  display: block;
  text-align: center;
  background-color: #edf2f2;
}

#footer {
  padding: 20px;
}

#footer a{
  color: #000000;
}

