body {
  font-family: 'Yantramanav', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EBECED;
  /*color: #A2AAB0;*/
}

nav {
  background-color: #FFF;
  color: #000000;
  border: 1px solid transparent;

}
nav a{
  color: #000000;
}

main {
  flex: 1 0 auto;
  text-align: center;

}
      
#footer {
  padding: 20px;
}

#footer a{
  color: #000000;
}

#copyright {
  text-align: center;

}