
body {
  font-family: 'Yantramanav', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EBECED;
  color: #595856;
  /*color: #A2AAB0;*/
}

nav {
  background-color: #edf2f2 !important;
  color: #000000 !important;
  padding-top: 36px;
  margin-bottom: 0px !important;
  font-size: 24px;
}

nav a {
  color: #000000;
}

.navbar-brand {
  font-size: 28px;
  font-family: 'Bad Script', cursive;
}

.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

main {
  flex: 1 0 auto;
  text-align: center;
}

hr {
  width: 200px;
  color: blue;
  z-index: 99;
}



/************** ABOUT **************/

#about {
  background-color: #edf2f2;
  width: 100%;
  height: 40%;
  padding: 90px 0;
} 

#brand-statement {
  font-weight: 100 !important;
}

/************** PROJECTS **************/
#projects {
  background-color: #FFF;
  width: 100%;
  height: 60%;
  padding: 70px 0;
}

#projects-header{
  margin-bottom: 40px;
}

.projects-display {
  margin-bottom: 50px;
}

.project-details{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  /*color: #5e5d5c;*/
  padding: 10px;
}

.fa-github {
  color: #595856;
}

.glyphicon-menu-right::before {
  color: #000000;
  margin-right: -40px;
}

.glyphicon-menu-left::before {
  color: #000000;
  margin-left: -40px;
}

/*.carousel-control {
  background-image: none !important;
}*/

.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none;
  }
}

.carousel {
  position: relative;
}

.controllers {
  position: absolute;
  top: 180px;
}

.carousel-control.left, 
.carousel-control.right {
  background-image: none;
}

/*img {
  filter: gray;
  -webkit-filter: grayscale(1); 
  -webkit-transition: all .8s ease-in-out;  
}*/

/*img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}*/

/************** CONTACT **************/
#contact {
  background-color: #EBECED;
  width: 100%;
  height: 50%;
  padding: 60px 0 30px 0;
  /*margin-bottom: 50px;*/
  letter-spacing: 1px;
  font-size: 20px;
}

.contact-heading {
  margin-bottom: 30px;
}

/*#contact-glyphs a{
  width: 40px;
  height: 40px;
  margin-top: 20px;
  color: #595856;
  margin: 0 10px;
  text-decoration: none;
}*/

.contact-glyphs{
  margin-top: 30px;
  color: #595856;
  margin: 0 10px;
  text-decoration: none;
}

#copyright {
  display: block;
  margin-top: 80px;
  text-align: center;
}

#footer {
  padding: 20px;
}

#footer a{
  color: #000000;
}

